.order-card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: inflateel 1s 2s forwards;
  z-index: 100;

  /* background: red; */
}

.order-card-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
}

.order-card {
  background: white;
  padding: 2rem;
  z-index: 100;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 3px 3px rgba(15, 15, 15, 0.75),
    3px 6px 15px rgba(20, 25, 20, 0.65);
}

.bday-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  background: linear-gradient(20deg, black, darkgreen);
  inset: 0;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px white;
  transform: scale(0);
  animation: inflateel 1s 4s forwards;
}

.bday-header {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  transform: translateY(-50rem);
  animation: dropdown 1s 6s forwards;
  /* margin-top: 5rem; */
}

@keyframes dropdown {
  100% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

.bday-modal h1 {
  position: relative;
  z-index: 15;
}

.family-img-div {
  width: 85%;
  height: 75%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  transform: scaleX(0);
  animation: scaleegg 1s 5.5s forwards;
}

@keyframes scaleegg {
  100% {
    transform: scaleX(1);
  }
}

.family-img {
  height: 100%;
  width: 100%;
}

.food-order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  /* gap: 2rem; */
}

td {
  padding: 1rem 0;
}

.food-img-div {
  width: 45px;
  height: 45px;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
}

.food-img-div img {
  width: 100%;
  height: 100%;
  position: absolute;
}
