.order-card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: inflateel 1s 3s forwards;
  z-index: 100;
  padding: 2rem;
}

.show-order {
  animation: inflateel 1s 3s forwards;
}

.order-card-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
}

.order-card {
  background: white;
  padding: 1rem;
  z-index: 100;
  position: relative;
  transform: translateY(-2.5rem);
  /* overflow: hidden; */
  border-radius: 1rem;
  box-shadow: 2px 3px 3px rgba(15, 15, 15, 0.75),
    3px 6px 15px rgba(20, 25, 20, 0.65);
}

.order-for-row {
  margin: 0.5rem 2rem;
}

/* table {
  width: 100%;
} */

.food-order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 1rem 0; */
  /* gap: 2rem; */
}

td {
  padding: 0.5rem;
  position: relative;
  z-index: 5;
}

tr {
  position: relative;
}

tr::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: gray;
  inset: 0;
  top: 25%;
  opacity: 65%;
  /* left: 15%; */
  filter: blur(15px);
}

.food-img-div {
  width: 45px;
  height: 45px;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
}

.food-img-div img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.total-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h4-total {
  margin: 1rem 0;
}
