.bday-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  /* background: linear-gradient(20deg, black, darkgreen); */
  inset: 0;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px white;
  transform: scale(0);
  border-radius: 1rem;
  /* border: 3px solid white; */
  overflow: hidden;
}

.show-bday {
  animation: inflateel 1s 0.5s forwards;
  background: linear-gradient(20deg, black, darkgreen);
  border: 3px solid white;
}

.bday-header {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 5;
  margin-top: 5rem;
}

.animate-header {
  transform: translateY(-50rem);
  animation: dropdown 1s 1s forwards;
}

@keyframes dropdown {
  100% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(-3rem);
  }
}

.bday-modal h1 {
  position: relative;
  z-index: 15;
}

.family-img-div {
  width: 85%;
  height: 75%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  border-radius: 20%;
  /* transform: scaleX(0); */
}

.animate-img {
  transform: scaleX(0);
  animation: scaleimg 1s 1s forwards;
}

@keyframes scaleimg {
  100% {
    transform: scale(1);
  }
}

.family-img {
  height: 100%;
  width: 100%;
}
